.take_away {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FBF1E7;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .take_away .container .row .col-lg-6,
  .take_away .container .row .col-lg-5 {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
    .take_away .container .row .col-lg-6 h4,
    .take_away .container .row .col-lg-5 h4 {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-decoration: none;
      color: #DC780B; }
    .take_away .container .row .col-lg-6 h2,
    .take_away .container .row .col-lg-5 h2 {
      font-family: Philosopher;
      font-size: 31px;
      font-weight: 700;
      line-height: 41px;
      letter-spacing: 0em; }
    .take_away .container .row .col-lg-6 p,
    .take_away .container .row .col-lg-5 p {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em; }
    .take_away .container .row .col-lg-6 .media_links,
    .take_away .container .row .col-lg-5 .media_links {
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .take_away .container .row .col-lg-6 .media_links a,
      .take_away .container .row .col-lg-5 .media_links a {
        width: 163px;
        height: 48px !important;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #000; }
        .take_away .container .row .col-lg-6 .media_links a:last-child,
        .take_away .container .row .col-lg-5 .media_links a:last-child {
          background: none;
          border: 1px solid #cb8841; }
    .take_away .container .row .col-lg-6 img,
    .take_away .container .row .col-lg-5 img {
      max-height: 650px; }

@media screen and (max-width: 992px) {
  .take_away .container .row div h2 {
    font-size: 24px !important; }
  .take_away .container .row div p {
    font-size: 10px !important; }
  .take_away .container .row div .media_links {
    width: 100% !important; }
    .take_away .container .row div .media_links a {
      height: 30px !important;
      width: 140px !important; }
      .take_away .container .row div .media_links a img {
        width: 100% !important;
        height: 70% !important; } }

@media screen and (max-width: 768px) {
  .take_away {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important; }
    .take_away .container .row div h4 {
      text-align: center;
      width: 100%; }
    .take_away .container .row div h2 {
      width: 100%;
      text-align: center; }
    .take_away .container .row div p {
      width: 100%;
      text-align: center; }
    .take_away .container .row div .media_links {
      width: 100% !important; }
      .take_away .container .row div .media_links a {
        height: 30px !important;
        width: 140px !important; }
        .take_away .container .row div .media_links a img {
          width: 100% !important;
          height: 70% !important; }
    .take_away .container .row .col-md-5 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .take_away .container .row .col-md-5 img {
        height: 100%; } }
